<footer class="site-footer">
    <div class="footer-inner">
        <p class="footer-text">
            © <%= new Date().getFullYear() %> Club Veles —
                Created for
                <a href="https://www.theodinproject.com/lessons/node-path-nodejs-members-only" target="_blank"
                    rel="noopener noreferrer">
                    The Odin Project
                </a>
        </p>

        <div class="footer-source">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg" width="20"
                height="20" alt="GitHub" />
            <a href="https://github.com/veles-rgb/Members-Only/tree/main" target="_blank" rel="noopener noreferrer">
                VelesRGB
            </a>
        </div>
    </div>
</footer>