<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <div id="new-message-form-container">
        <% if (currentUser) { %>
            <h1>New Message</h1>
            <p>Hello <%= currentUser.name %>, what do you have for us?</p>

            <% if (errors && errors.length> 0) { %>
                <ul>
                    <% errors.forEach(error=> { %>
                        <li>
                            <%= error.msg %>
                        </li>
                        <% }) %>
                </ul>
                <% } %>

                    <form action="/messages/new" method="POST">
                        <label for="title">Title</label>
                        <input type="text" name="title" id="title">

                        <label for="message">Message</label>
                        <input type="text" name="message" id="message">

                        <button type="submit">Submit</button>
                    </form>
                    <% } else { %>
                        <p>Please <a href="/login">LOGIN</a></p>
                        <% } %>
    </div>
</body>